[submodule "hatemile_for_php"]
	path = hatemile_for_php
	url = https://github.com/hatemile/hatemile-for-php.git
[submodule "phpQuery"]
	path = phpQuery
	url = https://github.com/punkave/phpQuery.git
[submodule "php_css_parser"]
	path = php_css_parser
	url = https://github.com/sabberworm/PHP-CSS-Parser.git
